@import "tailwindcss";

/* =========================================
   DYNAMIC CSS VARS FOR TAILWIND
========================================= */
@theme {
    --color-selected-color: #000;
    --font-header: 'Roboto Condensed', sans-serif;
    --font-body: 'Roboto Mono', monospace;
}


/* =========================================
   SCREEN UI
========================================= */
@media screen {
    .cv-paper {
        width: 210mm;
        padding: 1.5cm;
        background-color: #fff;
    }
}

/* =========================================
   PRINT UI
========================================= */
@media print {
    @page {
        size: A4;
        margin: 1.5cm !important;
        padding: 0 !important;
    }

    html, body {
        background: white !important;
    }

    /* Force raw text splitting: think Google Docs */
    p, li, h1, h2, h3, h4, h5, h6 {
        orphans: 1;
        widows: 1;
    }

    .cv-paper {
        width: 100% !important;
        min-height: auto !important; /* Let print spooler determine height */
        padding: 0 !important;
        margin: 0 !important;
    }
}